{%extends 'master.html'%}
{%block title%}
About Me
{%endblock%}


{%block content%}
<p>
    <div class="text"><h2>I'm Richard and I'm a Software Developer</h2></div><br>
  
    <span>👨‍💻</span><b>Software Engineering Enthusiast:</b> I am committed to creating efficient and user-centric solutions to day-to-day problems, like storing passwords, creating, managing, and completing tasks/todos, etc.<br><br>
  
    <span>🛡️</span><b>Cybersecurity Advocate:</b> Similarly, my deep-seated interest in cybersecurity has led me to make it my responsibility to safeguard digital spaces. In an ever-changing cyber landscape, there are numerous evolving threats that seek to destabilize computer systems and result in dire losses. I, therefore, see cybersecurity as the backbone of the digital space.<br><br>
  
    <span>🌟</span><b>Aspiration:</b> My ambition is to bridge the worlds of software engineering and cybersecurity, effectively marrying innovation with security. I envision a future where digital solutions are not only cutting-edge but also resilient against emerging threats.<br><br>
  
    <span>📚</span><b>Ongoing Education:</b> I constantly continue to learn and improve myself. I am actively pursuing a Bachelor's in Computer Science with a minor in Mathematics to equip myself with the requisite skills and knowledge to excel in the Technology Industry.<br><br>
  
    <span>🔍</span><b>Career Path:</b> With a strategic eye on the future, I ultimately aspire to become a CISO (Chief Information Security Engineer), Lord willing at a telecommunications corporation in Africa. I truly want to be at the forefront of developing and safeguarding digital ecosystems!<br><br>
  
  
    I want to make meaningful contributions to both fields.
  </p>
  {%endblock%}

<style>
    .text{
        margin-bottom: 50px;
    }
p {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

p span {
  font-size: 1.2em;
  margin-right: 8px;
}

p b {
  font-weight: bold;
  color: #2c3e50;
}

p a {
  color: #2980b9;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p .section {
  margin-bottom: 16px;
}

</style>  
